<!-- header include -->
<%- include("./partials/header"); -%>
<!-- Blog Content -->
<!-- <a href="compose" class="c-btn">compose</a> -->
<div class="blog-container">
  <h2 style="margin-bottom: 1rem">Recent post</h2>
  <hr />
  <% posts.forEach(function(post){ %>
  <div class="posts">
    <h3 class="post-title"><%=post.title%></h3>
    <p>
      <%=post.text.slice(0,270) + " ...."%>
      <a href="posts/<%=post._id%>" class="readmore">Read More</a>
    </p>
  </div>
  <% }) %>
</div>

<!-- footer include -->
<%- include("./partials/footer"); -%>
